section {
  background-color: rgba(200, 200, 200, 0.3);
  min-height: 100%;

  > div {
    background-color: white;
    border-radius: 10px;

    width: 90%;
    max-width: 800px;
  }
}

::ng-deep {
  .markdown {
    a {
      color: darkblue;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  //  img {
  //    border: 1px solid black;
  //  }
}
