.editor-container {
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;

  > div {
    height: 100%;
    min-height: 400px;
  }

  .reset {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0;
    z-index: 999;
  }

  .compile {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
    z-index: 999;
  }
}
